body {
background: burlywood;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    display: block;
}

footer a {
    margin: 0 10px;
    
}

.croissant-photo {
    max-width: 60%;
    display: block;
    margin: 30px auto;
}